createdAt: "2019-04-05T09:47:11.745Z"
updatedAt: "2019-04-05T09:57:00.079Z"
type: "MARKDOWN_NOTE"
folder: "6dc9338cd9b2395227d5"
title: "High Order Function: Typescript/Javascript"
tags: []
content: '''
  # High Order Function: Typescript/Javascript
  
  - map()
  - filter()
  - reduce()
  
  ## Map
  
  map runs a callback for each element of the array. Result from each callback is new element in the resultant array.
  
  ~~~~
  let pilots = [
    {
      id: 10,
      name: "Poe Dameron",
      years: 14,
    },
    {
      id: 2,
      name: "Temmin 'Snap' Wexley",
      years: 30,
    },
    {
      id: 41,
      name: "Tallissan Lintra",
      years: 16,
    },
    {
      id: 99,
      name: "Ello Asty",
      years: 22,
    }
  ];
  
  let ids = pilots.map((pilot) => pilot.id);
  
  // [10, 2, 41, 99]
  ~~~~
  
  ## Reduce
  
  `reduce` also runs a callback for each element on the array, but it pass the result of each calllback to next callback as an argument, known as the accumulator.
  
  ~~~~
  var pilots = [
    {
      id: 10,
      name: "Poe Dameron",
      years: 14,
    },
    {
      id: 2,
      name: "Temmin 'Snap' Wexley",
      years: 30,
    },
    {
      id: 41,
      name: "Tallissan Lintra",
      years: 16,
    },
    {
      id: 99,
      name: "Ello Asty",
      years: 22,
    }
  ];
  
  let totalYears = pilots.reduce((accumulator, pilot) => accumulator + pilot.yerear, 0); // where 0 is the inital value passed.
  
  // 82
  
  var mostExpPilot = pilots.reduce(function (oldest, pilot) {
    return (oldest.years || 0) > pilot.years ? oldest : pilot;
  }, {});
  
  //{
      id: 2,
      name: "Temmin 'Snap' Wexley",
      years: 30,
    }
  ~~~~
  
  ## filter
  
  As the name suggest, filter allows us to get certain elements of an array based on condition.
  
  ~~~~
  var pilots = [
    {
      id: 2,
      name: "Wedge Antilles",
      faction: "Rebels",
    },
    {
      id: 8,
      name: "Ciena Ree",
      faction: "Empire",
    },
    {
      id: 40,
      name: "Iden Versio",
      faction: "Empire",
    },
    {
      id: 66,
      name: "Thane Kyrell",
      faction: "Rebels",
    }
  ];
  
  var rebels = pilots.filter((pilot) => pilot.faction === "Rebels");
  ~~~~
  
  ## Combining map, reduce, filter
  
  Since `map` `filter` both return arrays they can be easily chained together.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
